<h1>Input zip code (usa only) to view some interesting details.</h1>

<form [formGroup]="form" novalidate (submit)="search()" #myform="ngForm">
  <div class="form-group">
    <input class="form-control" type="text" formControlName="zipCode" />
    <div
      class="alert alert-danger"
      *ngIf="form.controls['zipCode'].invalid && myform.submitted"
    >
      Please enter zip code
    </div>
  </div>

  <div class="form-group">
    <button type="submit">Search</button>
  </div>
</form>

<div *ngIf="currentZipInfoDto">
  <h4>{{ getText(currentZipInfoDto) }}</h4>
</div>
